<main class="content">
    <div class="container">
        <div class="banner">
        </div>
        <div class="rules">
            <h1>Основные правила игры в Блэкджэк</h1>

            <p>"Blackjack" - это всем известная карточная игра "двадцать одно" или "очко". Правда, со временем игра была серьёзно видоизменена. Была разработана научная теория, применение которой изрядно увеличивает шансы на победу. Популярность игры обусловлена теорией вероятности - для казино здесь далеко не всегда гарантирован выигрыш. Это отличает "Blackjack" от большинства других игр в игорных домах. Многие картёжники знают об этом, поэтому интерес к игре не ослабевает. Те или иные карты в "Blackjack" приносят определённое количество очков, а главная задача - набрать 21 очко или хотя бы максимально приблизиться к этой сумме (но ни в коем случае не набрать больше). Примечательно, что предаваться этому развлечению легко могут даже дальтоники - цвет масти значения не имеет.</p>

            <h2>Цель игры</h2>
            <p>Цель игры в блэкджек заключается в том, чтобы набрать двадцать одно очко или же количество очков, максимально приближенное к этой сумме, но не больше ее. Если игрок набирает больше двадцати одного очка, он сразу же проигрывает. В остальных случаях ценность его карт сравнивается с ценностью карт дилера и определяется победитель. Карта достоинством десять очков и туз, полученные с раздачи, называются блэкджеком. Это единственная комбинация карт в игре, имеющая название и она превосходит по силе любые другие карты.</p>

            <h2>Достоинство карт</h2>
            <p>Карты от двойки до десятки имеют достоинство, совпадающее с их номиналом. Достоинство валета, дамы и короля равно десяти очкам. Туз может давать одно или одиннадцать очков. Этот выбор делается в пользу игрока.</p>

            <p>Например, если на боксе туз и четверка, объявляется, что у игрока пять или пятнадцать очков. Если ему придет шестерка, он получит двадцать одно очко (в некоторых казино в такой ситуации игра автоматически переходит на следующий бокс, а в некоторых объявляется одиннадцать или двадцать одно и игрок сам делает выбор, брать ли еще карту). Однако, если он получит семерку, будет считаться, что у него двенадцать очков, но не двадцать два.</p>

            <h2>Количество игроков</h2>
            <p>Количество игроков ограничивается количеством боксов (полей для ставок) на игровом столе. В традиционном варианте их семь. Однако это не означает, что игроки могут делать совместные ставки на один бокс. Главное, чтобы их сумма не превышала максимальный размер ставок, разрешенный для этого стола.</p>

            <h2>Количество ставок</h2>
            <p>Во многих казино запрещено играть на один бокс, поэтому игрок должен делать не менее двух ставок. Максимальное количество ставок для одного игрока определяется каждым казино, однако обычно оно ограничивается лишь количеством боксов на столе.</p>

            <h2>Ход игры</h2>
            <p>Дилер тщательно перемешивает все колоды, отделяет часть карт (от пятой до третьей) с помощью специальной пластиковой карты и вставляет их все в «башмак». В процессе игры он достает из него карты по одной и раздает их игрокам и себе. Вышедшие из игры карты помещаются в специальный отбойник и находятся там, пока из «башмака» не выйдет пластиковая карта. Раздача, в течение которой это произошло, объявляется последней и по ее окончанию все карты снова перемешиваются.
                Подготовив карты к игре, дилер предлагает игрокам сделать ставки, после чего прекращает их прием и начинает раздавать карты. В базовом варианте игры он раздает всем игрокам и себе по две карты Одну из своих карт он открывает. В нашей стране получил распространение вариант правил, по которым дилер раздает себе лишь одну открытую карту, а остальные набирает себе после всех игроков.
                Если на каком-то боксе образуется блэкджек, а открытая карта дилера исключает возможность такой же комбинации у него (то есть, это карта от двойки до девятки), он сразу оплачивает блэкджек и забирает карты в отбойник. Если у дилера открыт туз или карта достоинством в десять очков, блэкджек не оплачивается до тех пор, пока не придет время сравнивать комбинации. Если у крупье открыт туз, по правилам некоторых казино он предлагает игроку, у которого блэкджек, так называемые «равные деньги». Это означает, что он сразу оплачивает блэкджек 1:1 и забирает карты.
                Игроки, оценивая силу своих карт и принимая во внимание достоинство открытой карты крупье, принимают решение, брать ли еще карту или останавливаться на той сумме очков, которая уже есть на боксе. На бокс можно набирать любое количество карт при условии, что сумма очков не превышает двадцати одного.
                Набор карт происходит строго по очереди. Первый бокс находится по левую руку от дилера. После того, как на всех боксах было принято окончательное решение, дилер вскрывает свою вторую карту, при необходимости добирает карты и сравнивает полученную комбинацию с картами игроков. Дилер берет себе карты строго в соответствии с правилами: он обязан брать еще карту, если у него шестнадцать или меньше очков и останавливаться, если у него семнадцать и больше очков.
                Игрок не имеет права касаться своих карт, все операции с ними производит дилер.
                Выигравшие боксы оплачиваются 1:1, блэкджек оплачивается 3:2 (в некоторых казино блэкджек из карт одной масти оплачивается 2:1).</p>


            <h2>Дополнительные правила</h2>

            <p>На своих боксах игроку разрешается не только брать карты, но также пользоваться дополнительными возможностями.
                Сплит (Split) – имея на боксе две карты одного номинала (в некоторых казино даже одного достоинства, то есть, дама и король), игрок может разделить их на два бокса, поставив еще одну ставку того же размера. После этого будет производиться дополнительный набор карт на каждый из новых боксов. Если на один из новых боксов придет карта того же номинала, сплит можно сделать еще раз. Количество возможных сплитов с одного бокса варьируется, но обычно не превышает трех. При сплите тузов, как правило, раздается лишь одна карта, после чего игра переходит на следующий бокс. Если вновь приходит туз, можно сделать еще сплит. Туз и любая карта в десять очков полученные в результате сплита, не считаются блэкджеком и рассматриваются как двадцать одно очко (это означает, что они проиграют, если блэкджек будет у крупье).</p>

            <p>Дабл (Double) – получив первые две карты, игрок имеет право сделать дабл. Для этого он должен удвоить свою первоначальную ставку. После этого ему раздается еще одна карта на этот бокс и дилер переходит к следующему игроку или открывает свои карты.</p>

            <p>Трипл (Triple) – это правило действует далеко не во всех казино и позволяет игроку сделать после дабла на боксе еще одну ставку, равную первоначальной и получить дополнительную карту.</p>

            <p>Сарренда (Surrender) – получив первые две карты, игрок имеет право отказаться от продолжения игры на этом боксе, отдав половину первоначальной ставки. Следует отметить, что это правило почти во всех казино не действует, если у дилера открыт туз. Более того, оно нередко отменяется, если у дилера открыта карта достоинством в десять очков.</p>

            <p>Страховка (Insurance) – если у дилера открыт туз, он предлагает игрокам застраховаться от блэкджека. Размер страховки равен половине первоначальной ставки и она оплачивается в размере 2:1, если у дилера будет блэкджек.</p>

            <h3>Вариации игры</h3>

            <p>Существует несколько разновидностей игры в классический блэкджек. Основное различие заключается в количестве карт, которые дилер раздает себе в начале раунда. Кроме того, есть варианты правил, по которым крупье открывает две карты. В целом, большинство казино оставляет за собой право вносить коррективы в такие правила, как сарренда, дабл, сплит, оплата блэкджека и некоторые другие.
                Иногда встречаются бонусные правила в виде дополнительной повышенной оплаты трех семерок на одном боксе или каких-то других комбинаций. С другой стороны, могут вводиться невыгодные для игрока правила. Например, ограничение максимального количества карт, которые раздаются на один бокс.</p>

        </div>
    </div>
</main><!-- .content -->

</div><!-- .wrapper -->


<!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
